.shoper-cart-page__header__tools__wrapper{
    background-color: #f6432e;
}
.shoper-cart-page__header__tools{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 0;
    &__left{
        display: flex;
        font-size: 13px;
        color: white;
        &__item{
            margin-right: 6px;
            padding: 0 6px;
            border-right: 2px solid #ddd;
        }
        &__item:last-child{
            border: none;
        }
    }

    &__right{
        display: flex;
        font-size: 13px;
        color: white;
        &__item{
            margin-right: 6px;
            padding: 0 6px;
            border-right: 2px solid #ddd;
        }
        &__item:last-child{
            border: none;
        }
    }
}
.shoper-cart-page__header__container{
    padding: 20px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    &__logo{
        display: flex;
        align-items:center;
        &__left{
            font-size: 27px;
            color: #f6432e;
            margin-right: 10px;
            display: inline-block;
        }
        &__linebreak{
            height: 25px;
            width: 1px;
            background-color: #f6432e;
            margin-right: 10px;
            display: inline-block;
        }
        &__right{
            padding-top: 4px;
            font-size: 22px;
            color: #f6432e;
            display: inline-block;
        }
    }
    &__search{
        display: flex;
        height: 36px;
        background-color: white;
        border: 1px solid #f6432e;;
        padding: 2px 2px 2.5px 12px;
        border-radius: 3px;
        &__input{
            width: 500px;
            font-size:15px;
            border: none;
        }
        &__input:focus{
            outline: none;
        }
        &__button{
            // background-color:#017fff;
            background: linear-gradient(
                -180deg
                ,#f53d2d,#f63);
            padding: 8px 16px;
            border-radius: 3px;
            line-height: 0;
            cursor: pointer;
        }
    }
}
.shoper-cart-page__body{
    background-color:#f5f5f5;
    min-height: 1200px;  
    padding-top: 20px;  
    &__container{
        &__total{
            margin-top: 10px;
            display: flex;
            font-size: 17px;
            &__label{
                color:#f6432e;
                margin-right: 12px;
            }
        }
    }
}
.product-name{
    display: flex;
    align-items:center;
    padding: 10px 0;
    &__image{
        width: 80px;
        height: 80px;
        margin-right:8px;
    }
    &__name{
        padding-right: 5px;
    }
}
.remove-item-cart{
    cursor: pointer;
    color:red;
}